<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">Contact</div>
              <div class="panel-body">
                Meerwater 12<br />
                5658 LM, Eindhoven<br />
                040 2351846
              </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">Openingstijden</div>
              <table class="table">
                <tr>
                    <th>Di t/m Vr</th>
                    <td>16:00 - 21:30</td>
                </tr>
                <tr>
                    <th></th>
                    <td><small>Lunch naar vraag open: 11:30 - 16:00</small></td>
                </tr>
                <tr>
                    <th>Za, Zo &amp; Feestdagen</th>
                    <td>11:30 - 22:00</td>
                </tr>
              </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Route van N2</h4>
            <img src="images/map-n2.png" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Route van McDonald's</h4>
            <img src="images/map-mac.png" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Interactieve kaart</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4973.699650487907!2d5.408559203822867!3d51.442551773524045!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6dbc81720b2e5%3A0x3592a8291cfaf2c6!2sMeerwater+12%2C+5658+Eindhoven%2C+The+Netherlands!5e0!3m2!1sen!2s!4v1405208481217" width="100%" height="450" frameborder="0" style="border:0"></iframe>
        </div>
    </div>
</div>