<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-6" style="margin-bottom: 10px;">
            <img src="images/menu-1.jpg" width="100%">
        </div>
        <div class="col-md-12 col-lg-6">
            <img src="images/menu-2.jpg" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6" style="margin-bottom: 10px;">
            <img src="images/menu-3.jpg" width="100%">
        </div>
        <div class="col-md-12 col-lg-6">
            <img src="images/menu-4.jpg" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6" style="margin-bottom: 10px;">
            <img src="images/menu-5.jpg" width="100%">
        </div>
        <div class="col-md-12 col-lg-6">
            <img src="images/menu-6.jpg" width="100%">
        </div>
    </div>
    
</div>